* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-weight: bolder;
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
    opacity: 0.5;
}

.wrapper {
    background-color: #F7DFE2;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 700px;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: white;
    height: 100%;
    text-align: center;
    border-radius: 30px 0 0 30px;
}

.form-control h1 {
    margin-top: 40px;
}


i {

    margin: 35px 10px 35px 10px;
    font-size: 30px;
    color: black;
}

.form-control input {
    width: 70%;
    background: rgba(215, 215, 215, 0.898);
    padding: 10px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
}

.form-control input[type="button"] {
    width: 40%;
    border-radius: 30px;
    background: #FF3604;
    margin-bottom: 40px;
    margin-top: 10px;
    color: white;
}

.form-control p {
    margin-top: 5px;
}

h1,
p {

    line-height: 1.7;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #FF2462;
    height: 100%;
    color: white;
    text-align: center;
    border-radius: 0 30px 30px 0;
}

input::placeholder {
    opacity: 0.5;
}

.content h1,
p {
    margin: 0 auto;
    width: 85%;
}

.content p {
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .content {
        border-radius: 30px 30px 0 0;
        /* border-radius: 0; */
        height: 200px;
    }

    .form-control {
        border-radius: 0 0 30px 30px;
        /* border-radius: 0; */
    }

    .form-control {
        order: 2;
    }

    .content {
        order: 1;
    }

    h1 {
        margin: 0 auto;
        width: 90%;
        line-height: 1.4;
        font-weight: 600;
    }

    .form-control p {
        font-size: 14px;
    }

    .form-control input {
        width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        margin: 0 auto;
        width: 100%;
        line-height: 1.2;
        font-weight: 500;
    }

    .form-control p {
        font-size: 10px;
    }

    .form-control input {
        width: 80%;
    }
}